# ========================
# free-claude-code settings
# ========================

LM_STUDIO_BASE_URL=http://127.0.0.1:4000/v1

MODEL=lmstudio/claude-3-5-sonnet-20240620
MODEL_OPUS=lmstudio/gpt-4o
MODEL_SONNET=lmstudio/claude-3-5-sonnet-20240620
MODEL_HAIKU=lmstudio/claude-3-5-sonnet-20240620
